@page
@model PetMatch.Pages.Shelters.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Adăposturi Partenere</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-page="Create" class="btn btn-primary">Adaugă Adăpost Nou</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shelter[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shelter[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Shelter) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a>

                @if (User.IsInRole("Admin"))
                {
                  <span> | </span>
                  <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> <span> | </span>
                  <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
